{
  "extends": "@antfu",
  "rules": {
    "curly": ["error", "multi-line", "consistent"],
    "quotes": ["error", "single"],
    "@typescript-eslint/ban-ts-comment": "off",
    "antfu/generic-spacing": "off",
    "max-statements-per-line": "off",
    "@typescript-eslint/prefer-ts-expect-error": "off"
  },
  "ignorePatterns": "**/*.md,test/fixtures/**/*.vue"
}
