{
  "extends": ["@antfu"],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "paths": ["unocss"]
      }
    ],
    "yml/no-empty-document": "off",
    "react/no-unknown-property": "off",
    "curly": ["error", "multi-line", "consistent"],
    "quotes": ["error", "single"],
    "@typescript-eslint/ban-ts-comment": "off",
    "antfu/generic-spacing": "off",
    "max-statements-per-line": "off",
    "@typescript-eslint/prefer-ts-expect-error": "off",
    "no-console":"off",
    "@typescript-eslint/ban-types": "off",
    "vue/one-component-per-file": "off"
  },
  "overrides": [
    {
      "files": [
        "playground/**/*.*",
        "examples/**/*.*",
        "test/fixtures/**/*.*"
      ],
      "rules": {
        "no-restricted-imports": "off"
      }
    },
    {
      "files": [
        "packages/vscode/**/*.*"
      ],
      "rules": {
        "unicorn/prefer-node-protocol": "off"
      }
    },
    {
      "files": [
        "**/*.md/*.*"
      ],
      "rules": {
        "no-restricted-imports": "off",
        "no-restricted-syntax": "off",
        "no-labels": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-var-requires": "off",
      }
    }
  ]
}
