---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Example from '../components/Example.svelte';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span>Pinceau</span></h1>
    <ul role="list" >
      <Example client:only="svelte" />
    </ul>
  </main>
</Layout>
