---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Foo Page">
  <div>Foo</div>
  <ul role="list">
    <Card
      href="/"
      title="Home"
      body="Go home."
    />
  </ul>
</Layout>
