---
import Layout from '../layouts/Layout.astro';
import Example from '../components/Example.vue';
---

<Layout title="Welcome to Pinceau">
  <main>
    <h1>Welcome to <span>Pinceau</span></h1>
    <ul role="list" >
      <Example client:only="vue" />
    </ul>
  </main>
</Layout>
