@font-face {
  font-family: 'FredokaOne';
  font-style: normal;
  font-weight: normal;
  src: url('/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PaytoneOne';
  font-style: normal;
  font-weight: normal;
  src: url('/PaytoneOne-Regular.ttf') format('truetype');
}

.block-hero {
  h1 {
    font-family: $dt('typography.font.display');
    font-size: $dt('fontSize.3xl') !important;

    code {
      font-size: inherit;
    }
  }
}
